<div
  class="w-64 flex flex-col  bg-white border-r py-4"
  x-data="{ active: window.location.pathname }"
>
  <ul class="space-y-2">
    <li>
      <a
        href="/dashboard/"
        :class="active.indexOf('dashboard') != -1 ? 'active bg-blue-50 text-blue-600 font-semibold' : 'hover:bg-zinc-100 text-zinc-600'"
        class="flex items-center gap-4 py-2 px-6 relative group"
      >
        <div class="w-1 h-full bg-blue-600 py-2 left-0 top-0 absolute opacity-0 group-[&.active]:opacity-100 duration-150"></div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layout-dashboard"><rect width="7" height="9" x="3" y="3" rx="1"/><rect width="7" height="5" x="14" y="3" rx="1"/><rect width="7" height="9" x="14" y="12" rx="1"/><rect width="7" height="5" x="3" y="16" rx="1"/></svg>
        Trang chủ
      </a>
    </li>
    <li>
      <a
        href="/subscriptions/"
        :class="active.indexOf('subscriptions') != -1 ? 'active bg-blue-50 text-blue-600 font-semibold' : 'hover:bg-zinc-100 text-zinc-600'"
        class="flex items-center gap-4 py-2 px-6 relative group"
      >
        <div class="w-1 h-full bg-blue-600 py-2 left-0 top-0 absolute opacity-0 group-[&.active]:opacity-100 duration-150"></div>
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-package"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5" /><path d="M12 12l8 -4.5" /><path d="M12 12l0 9" /><path d="M12 12l-8 -4.5" /><path d="M16 5.25l-8 4.5" /></svg>
        Quản lý gói đăng ký
      </a>
    </li>
    <li>
      <a
        href="/transaction-history/"
        :class="active.indexOf('transaction-history/') != -1 ? 'active bg-blue-50 text-blue-600 font-semibold' : 'hover:bg-zinc-100 text-zinc-600'"
        class="flex items-center gap-4 py-2 px-6 relative group"
      >
        <div class="w-1 h-full bg-blue-600 py-2 left-0 top-0 absolute opacity-0 group-[&.active]:opacity-100 duration-150"></div>
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-dollar"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M13 21h-7a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" /><path d="M16 3v4" /><path d="M8 3v4" /><path d="M4 11h12.5" /><path d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" /><path d="M19 21v1m0 -8v1" /></svg>
        Lịch sử thanh toán
      </a>
    </li>
    <!-- <li>
      <a
        href="/login-history/"
        :class="active.indexOf('login-history') != -1 ? 'active bg-blue-50 text-blue-600 font-semibold' : 'hover:bg-zinc-100 text-zinc-600'"
        class="flex items-center gap-4 py-2 px-6 relative group"
      >
        <div class="w-1 h-full bg-blue-600 py-2 left-0 top-0 absolute opacity-0 group-[&.active]:opacity-100 duration-150"></div>
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-logs"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 12h.01" /><path d="M4 6h.01" /><path d="M4 18h.01" /><path d="M8 18h2" /><path d="M8 12h2" /><path d="M8 6h2" /><path d="M14 6h6" /><path d="M14 12h6" /><path d="M14 18h6" /></svg>
        Quản lý đăng nhập
      </a>
    </li> -->
    <li>
      <a
        href="/settings/"
        :class="active.indexOf('settings') != -1 ? 'active bg-blue-50 text-blue-600 font-semibold' : 'hover:bg-zinc-100 text-zinc-600'"
        class="flex items-center gap-4 py-2 px-6 relative group"
      >
        <div class="w-1 h-full bg-blue-600 py-2 left-0 top-0 absolute opacity-0 group-[&.active]:opacity-100 duration-150"></div>
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-settings-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /></svg>
        Cài đặt tài khoản
      </a>
    </li>
    <li>
      <a
        href="{{landing.document_url}}"
        target="_blank"
        class="flex items-center gap-4 py-2 px-6 relative group hover:bg-zinc-100 text-zinc-600"
      >
        <div class="w-1 h-full bg-blue-600 py-2 left-0 top-0 absolute opacity-0 group-[&.active]:opacity-100 duration-150"></div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-scroll-text"><path d="M15 12h-5"/><path d="M15 8h-5"/><path d="M19 17V5a2 2 0 0 0-2-2H4"/><path d="M8 21h12a2 2 0 0 0 2-2v-1a1 1 0 0 0-1-1H11a1 1 0 0 0-1 1v1a2 2 0 1 1-4 0V5a2 2 0 1 0-4 0v2a1 1 0 0 0 1 1h3"/></svg>
        Hướng dẫn sử dụng
      </a>
    </li>
    <div class="w-full mt-12 p-4">
        <div class="flex flex-col items-center justify-center p-2 w-full rounded-lg border text-center">
          <div class="flex items-center gap-2 ">
            <span class="w-2 h-2 bg-orange-500 rounded-full"></span>
            <p class="text-md text-zinc-800 font-semibold">{{current_subscription_duration.subscription_plan.name}}</p>
          </div>
          <p class="text-sm text-zinc-600 font-semibold mb-4">Thời hạn sử dụng đến ngày {{ current_token.expires_at|date:"d/m/Y" }}</p>
          <button class="mb-2 text-sm px-4 py-2 bg-gradient-to-r from-indigo-400 to-cyan-400 font-semibold  text-white duration-150 flex items-center justify-center gap-2 rounded-full">Nâng cấp gói</button>
        </div>
    </div>
</div>
