{% load custom_filters %} {% load static %}
<div x-data="subscriptionData()" >
    <div class="flex items-center mb-12 justify-center w-full">
        <div class="flex items-center justify-center rounded-full bg-blue-50 p-1.5">
            {% for tab in subscription_tab_filters %}
                <div>
                    <input 
                        type="radio" 
                        name="subscription" 
                        value="{{ tab.duration }}" 
                        id="duration{{ tab.duration }}" 
                        class="hidden peer"
                        x-model="selectedDuration"
                    />
                    <label for="duration{{ tab.duration }}" 
                        class="text-zinc-600 peer-checked:bg-blue-600 peer-checked:text-white rounded-full -mb-0.5 flex items-center justify-center px-4 py-2 font-medium bg-transparent ">
                        {% if tab.name %}
                            {{ tab.name }}
                        {% else %}
                            {{ tab }}
                        {% endif %}
                        {% if tab.is_hot %}
                            <img src="https://img.icons8.com/?size=48&id=18515&format=png" class="w-6 ml-2" alt="Hot">
                        {% endif %}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Danh sách gói -->
    <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0" id="subscriptions">
        {% for subscription in subscriptions %}
            {% if not subscription.is_trial %}
                <div data-id="{{ subscription.id }}"  class="subscriptions-card relative w-full flex flex-col max-w-lg p-6 mx-auto justify-between text-zinc-900 bg-white rounded-xl shadow {{ subscription.recommended|yesno:'border-2 border-blue-600, border border-zinc-200' }}">
                    {% if subscription.recommended %}   
                        <div class="absolute bg-blue-600 text-sm py-1 px-4 rounded-full -top-4 right-4 flex items-center justify-center text-white font-semibold">
                            Best value
                        </div>
                    {% endif %}
                    <div>
                        <div class="px-2">
                            <h3 class="mb-2 text-2xl font-semibold text-zinc-900 relative">{{ subscription.name }}</h3>
                            <!-- Hiển thị giá theo thời hạn -->
                            {% for duration in subscription.durations.all %}
                                <div 
                                    class="flex flex-col duration-price"
                                    x-show="selectedDuration == '{{ duration.duration }}'"
                                    x-cloak
                                >
                                    <div class="flex items-center">
                                        <p class="text-zinc-500 line line-through">{{ duration.pre_price | parse_currency }}</p>
                                    </div>
                                    <div class="flex items-center">
                                        <p class="mr-2 text-2xl font-extrabold">{{ duration.price | parse_currency }}</p>
                                        <span class="text-zinc-600">/{{ duration.duration }} tháng</span>
                                        {% if duration.discount_percentage %}
                                            <span class="p-1 rounded-lg bg-red-500 ml-2 text-sm text-white font-semibold">-{{ duration.discount_percentage }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Platforms -->
                        <div class="mb-8 mt-2 text-left">
                            {{ subscription.featrures | safe}}
                            {% if subscription.platforms.all.count >= 7 %}
                            {% with  subscription.platforms.all|slice:'0, 7' as sliced_platforms %}
                                {% for platform in sliced_platforms %}
                                <div class="flex text-md items-center gap-1 p-2 hover:bg-blue-50 rounded-full">
                                    <img src="{{ platform.logo_url }}" class="w-6 h-6 rounded-full" alt="">
                                    <span>{{ platform.name }}</span>
                                </div>
                                {% endfor %}
                                <div class="flex text-md items-center gap-1 p-2 hover:bg-blue-50 rounded-full">
                                    <span>+{{ subscription.platforms.all.count|subtract:7}} Nền tảng khác...</span>
                                </div>
                            {% endwith %}
                            {% else %}
                            {% for platform in subscription.platforms.all %}
                                <div class="flex text-md items-center gap-1 p-2 hover:bg-blue-50 rounded-full">
                                    <img src="{{ platform.logo_url }}" class="w-6 h-6 rounded-full" alt="">
                                    <span>{{ platform.name }}</span>
                                </div>
                                {% endfor %}
                            {% endif %}
                            
                        </div>
                    </div>
                    <div class="mt-4">
                        {% if request.user.is_authenticated %}
                            {% for duration in subscription.durations.all %}
                                {% if duration.subscription_plan == subscription %}
                                    {% if current_subscription_duration == duration %}
                                        <button x-cloak x-show="selectedDuration == '{{ duration.duration }}'" class="text-zinc-500 w-full border border-transparent bg-zinc-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                            Gói hiện tại
                                        </button>
                                    {% elif current_subscription_duration.subscription_plan.level > subscription.level %}
                                        <button x-cloak x-show="selectedDuration == '{{ duration.duration }}'" class="text-zinc-500 w-full border border-transparent bg-zinc-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                            Không khả dụng
                                        </button>
                                    {% elif current_subscription_duration.subscription_plan == duration.subscription_plan and current_subscription_duration.duration > duration.duration %}
                                        <button x-cloak x-show="selectedDuration == '{{ duration.duration }}'" class="text-zinc-500 w-full border border-transparent bg-zinc-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                            Không khả dụng
                                        </button>
                                    {% else %}
                                        <button @click="handleSubscription('{{subscription.id}}','{{duration.id}}')" x-cloak x-show="selectedDuration == '{{ duration.duration }}'" class="subscribe-btn w-full {{ subscription.recommended|yesno:'text-white bg-blue-600 hover:bg-blue-700, bg-blue-50 hover:bg-blue-100 text-blue-600' }} border border-transparent focus:ring-4 focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                            {% if current_subscription_duration.subscription_plan == subscription %}
                                                Nâng cấp gói
                                            {% else %}
                                                Đăng ký ngay
                                            {% endif %}
                                        </button>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <a href="/signup/" target="_top" class="subscribe-btn w-full flex items-center justify-center {{ subscription.recommended|yesno:'text-white bg-blue-600 hover:bg-blue-700, bg-blue-50 hover:bg-blue-100 text-blue-600' }} border border-transparent focus:ring-4 focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                Đăng ký ngay
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<!-- Alpine.js Logic -->
<script>
    function subscriptionData() {
        return {
            selectedDuration: '{{ subscription_tab_filters.0.duration }}', // Giá trị mặc định: 1 tháng
            handleSubscription(subscriptionId, duration) {
                if (!duration) {
                    alert('Vui lòng chọn thời hạn gói.');
                    return;
                }
                console.log(subscriptionId, duration);
                fetch('{% url "create_order" %}', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": '{{ csrf_token }}',
                    },
                    
                    body: JSON.stringify({ 
                        subscription_plan_id: subscriptionId,
                        subscription_plan_duration_id: duration
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    if (window.self !== window.top) {
                        // Đang được nhúng trong iframe
                        window.open(`/orders/${data.order_id}/`, '_blank');
                    } else {
                        // Không được nhúng
                        window.top.location.href = `/orders/${data.order_id}/`;
                    }
                })
                .catch(err => console.error(err));
            }
        };
    }
</script>
<script src="//unpkg.com/alpinejs" defer></script>
