{% extends 'layout.html' %} {% block main %}

<div class="mx-4 sm:mx-8 xl:mx-auto max-w-4xl">
  <div class=" rounded-xl sm:px-8">
    <div class="pt-4">
      <h1 class="py-2 text-2xl font-semibold">Cài đặt tài khoản</h1>
      {% if messages %}
        {% for message in messages %}
          <div class="{% if message.tags == 'error' %}bg-red-100 text-red-700{% else %}bg-green-100 text-green-700{% endif %} px-4 py-3 rounded relative" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <hr class="mt-4 mb-8" />
    <p class="py-2 text-xl font-semibold">Địa chỉ email</p>
    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
      <p class="text-gray-600">
        Địa chỉ email của bạn là <strong>{{ request.user.email }}</strong>
      </p>
    </div>
    <hr class="mt-4 mb-8" />
    <p class="py-2 text-xl font-semibold">Mật khẩu</p>
    <form method="POST" action="{% url 'settings' %}">
      {% csrf_token %}
      <div class="flex items-center">
        <div class="flex flex-col space-y-2 sm:flex-row sm:space-y-0 sm:space-x-3">
          <label>
            <span class="text-sm text-gray-500">Mật khẩu hiện tại</span>
            <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
              <input
                type="password"
                name="current_password"
                class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none"
                placeholder="***********"
                required
              />
            </div>
          </label>
          <label>
            <span class="text-sm text-gray-500">Mật khẩu mới</span>
            <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
              <input
                type="password"
                name="new_password"
                class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none"
                placeholder="***********"
                required
              />
            </div>
          </label>
          <label>
            <span class="text-sm text-gray-500">Xác nhận mật khẩu mới</span>
            <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
              <input
                type="password"
                name="confirm_password"
                class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none"
                placeholder="***********"
                required
              />
            </div>
          </label>
        </div>
      </div>
      <p class="mt-2">
        Bạn không nhớ mật khẩu? 
        <a class="text-sm font-semibold text-blue-600 underline decoration-2" href="#">
          Tìm lại mật khẩu
        </a>
      </p>
      <button type="submit" class="mt-4 rounded-full bg-blue-600 px-4 py-2 text-white">
        Lưu mật khẩu
      </button>
    </form>
    <hr class="mt-4 mb-8" />

    <div class="mb-10">
      <p class="py-2 text-xl font-semibold">Xóa tài khoản</p>
      <p class="inline-flex items-center rounded-full bg-rose-100 px-4 py-1 text-rose-600">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mr-2 h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
            clip-rule="evenodd"
          />
        </svg>
        Tiến hành cẩn trọng
      </p>
      <p class="mt-2">
        Hãy đảm bảo bạn đã sao lưu tài khoản của mình trong trường hợp bạn cần truy cập dữ liệu. Chúng tôi sẽ xóa hoàn toàn dữ liệu của bạn. Không có cách nào để truy cập tài khoản của bạn sau hành động này.
      </p>
      <button class="ml-auto text-sm font-semibold text-rose-600 underline decoration-2">
        Tiếp tục xóa
      </button>
    </div>
    <a href='/logout/' class="w-fit block mt-4 rounded-full bg-zinc-200 px-4 py-2 text-zinc-800">
        Đăng xuất
    </a>
  </div>
</div>

{% endblock %}
