{% extends "_base.html" %} {% load static %}
{% block title %}Đăng ký - Sharer{% endblock %}
{% block content %}
<div class="w-full h-full flex justify-center items-center relative">
  <a href='/' class="absolute top-12 left-12">
    <img src="{% static 'images/logo-full.svg' %}" alt="Logo" class="w-64" />
  </a>
  <div class="absolute bottom-0 left-0">
    <img src="{% static 'images/bg-login-wind.svg' %}" alt="Logo" />
  </div>
  <div class="grid grid-cols-1 gap-4">
      <div class="h-auto bg-white rounded-2xl border border-zinc-300 p-12 text-center overflow-hidden z-50 relative">
        <h1 class="text-4xl font-semibold mb-12">Đăng ký</h1>
        <form method="post" action="" class='min-w-80' autocomplete="rutjfkde">
          {% csrf_token %}
          <div class="relative mb-4">
            <div class="relative">
              {{form.username}}
              <label for="username" class="absolute text-sm text-zinc-500 dark:text-zinc-400 duration-300 transform -translate-y-4 scale-75 top-5 z-10 origin-[0] dark:bg-zinc-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-5 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
                Tên người dùng
              </label>
            </div>
            {% if form.errors.username %}
            <div class="mt-1 text-xs text-red-500 text-left">
              {% for error in form.errors.username %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="relative mb-4">
            <div class="relative">
              {{form.email}}
              <label
                for="email"
                class="absolute text-sm text-zinc-500 dark:text-zinc-400 duration-300 transform -translate-y-4 scale-75 top-5 z-10 origin-[0] dark:bg-zinc-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-5 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
                >Email</label>
            </div>
            {% if form.errors.email %}
            <div class="mt-1 text-xs text-red-500 text-left">
              {% for error in form.errors.email %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="relative mb-4">
            <div class="relative">
              {{form.phone_number}}
              <label
                for="phone_number"
                class="absolute text-sm text-zinc-500 dark:text-zinc-400 duration-300 transform -translate-y-4 scale-75 top-5 z-10 origin-[0] dark:bg-zinc-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-5 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
                >Số điện thoại</label
              >
            </div>
            {% if form.errors.phone_number %}
            <div class="mt-1 text-xs text-red-500 text-left">
              {% for error in form.errors.phone_number %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="relative mb-4" x-data="{ show: false, value: '' }">
            <div class="relative">
              {{form.password}}
              <label
                for="password"
                class="absolute text-sm text-zinc-500 dark:text-zinc-400 duration-300 transform -translate-y-4 scale-75 top-5 z-10 origin-[0] dark:bg-zinc-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-5 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
                >Mật khẩu</label
              >
              <div x-show='value' class="absolute font-semibold text-sm top-1/2 -translate-y-1/2 right-3 cursor-pointer hover:text-zinc-500" @click="show = !show" x-text="show ? 'Ẩn' : 'Hiển thị'">
              </div>
            </div>
            {% if form.errors.password %}
            <div class="mt-1 text-xs text-red-500 text-left">
              {% for error in form.errors.password %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="relative mb-5" x-data="{ show: false, value: '' }">
            <div class="relative">
              {{form.confirm_password}}
              <label
                for="confirm_password"
                class="absolute text-sm text-zinc-500 dark:text-zinc-400 duration-300 transform -translate-y-4 scale-75 top-5 z-10 origin-[0] dark:bg-zinc-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-5 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
                >Xác nhận mật khẩu</label
              >
              <div x-show='value' class="absolute font-semibold text-sm top-1/2 -translate-y-1/2 right-3 cursor-pointer hover:text-zinc-500" @click="show = !show" x-text="show ? 'Ẩn' : 'Hiển thị'">
              </div>
            </div>
            {% if form.errors.confirm_password %}
            <div class="mt-1 text-xs text-red-500 text-left">
              {% for error in form.errors.confirm_password %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
      
          </div>
          <button
            type="submit"
            class="w-full px-6 py-3 bg-blue-500 text-white rounded-xl hover:bg-blue-600 font-semibold text-sm"
          >
            Đăng ký
          </button>
        </form>
        <div class="mt-4 text-sm text-zinc-500 flex items-center justify-center w-full">
          <span>Đã có tài khoản? <a href="{% url 'login' %}" class="text-blue-900">Đăng nhập</a></span>
        </div>
      </div>
  </div>
</div>
{% endblock content %}
